:root {
  --bg-color: rgb(40, 40, 40);
  --bg-dark-color: rgb(30, 30, 30);
  --bg-light-color: rgb(50, 50, 50);
  --text-color: rgba(255, 255, 255, 0.78);
  --muted-text-color: #72747c;
  --link-color: rgb(102,153,204);
  --border-color: rgb(73, 73, 73);
  --inner-border-color: rgba(73, 73, 73, .5);
  --bg-code-color: #2F3134;
  --code-blue: rgb(102,153,204);
  --code-magenta: rgb(204, 153, 204);
  --code-yellow: rgb(255, 204, 102);
  --code-green: #3BB15A;
  --code-red: #E7524B;
  --topic-bg-color: rgba(65, 141, 209, 0.15);
  --topic-bg-hover: rgba(65, 141, 209, 0.25);
  --hover-color: #0366d6;
}


@media (prefers-color-scheme: dark) {
    body {
        background-color: var(--bg-color) !important;
        border-color: var(--border-color) !important;
        color: var(--text-color) !important;
    }

    a {
        color: var(--link-color) !important;
    }
    
    .border {
        border-color: var(--border-color) !important;
    }
    
    .bg-white {
        background-color: var(--bg-color) !important;
    }
    
    .bg-gray {
        background-color: var(--bg-color) !important;
    }

    .bg-blue-light {
        background-color: var(--bg-light-color) !important;
    }
    
    .text-gray {
        color: var(--muted-text-color) !important;
    }
    
    .text-gray-dark {
        color: var(--text-color) !important;
    }
    
    .text-emphasized {
        color: var(--text-color) !important;
    }
    
    .link-gray {
        color: var(--muted-text-color) !important;
    }
    
    .link-gray-dark {
        color: var(--text-color) !important;
    }
    
    .link-gray-dark:hover {
        color: var(--link-color) !important;
    }

    .color-gray-9 {
        color: var(--text-color) !important;
    }
    
    .text-gray-light {
        color: var(--muted-text-color) !important;
    }
    
    .muted-link {
        color: var(--muted-text-color) !important;
    }

    .muted-link:hover {
        color: var(--link-color) !important;;
        text-decoration: none;
    }

    .btn {
        background-color: var(--bg-dark-color) !important;
        background-image: none !important;
        border-color: var(--border-color) !important;
        color: var(--text-color) !important;
    }

    .btn:hover {
        background-color: var(--bg-light-color) !important;
        background-image: none !important;
    }
    
    .btn-link {
        color: var(--link-color) !important;
    }

    .Header {
        background-color: var(--bg-dark-color) !important;
    }

    .Header-link {
        color: var(--text-color) !important;
    }
    
    .footer a {
        color: var(--text-color) !important;
    }
    
    .Box {
        background-color: var(--bg-color) !important;
        border-color: var(--border-color) !important;
    }
    
    .Box-header {
        background-color: var(--bg-light-color) !important;
        border-color: var(--border-color) !important;
    }
    
    .Box-body {
        border-color: var(--border-color) !important;
    }

    .dropdown-menu {
        background-color: transparent !important;
        -webkit-backdrop-filter: blur(12px);
        border-color: var(--border-color) !important;
    }
    
    .dropdown-menu:after {
        border-bottom-color: var(--border-color) !important;
    }
    
    .dropdown-menu a {
        color: var(--text-color) !important;
    }
    
    .dropdown-menu button {
        color: var(--text-color) !important;
    }
    
    .dropdown-divider {
        border-color: var(--inner-border-color) !important;
    }

    .user-profile-nav {
        background-color: var(--bg-color) !important;
        border-color: var(--border-color) !important;
    }
    
    .border-top, .border-bottom {
        border-color: var(--border-color) !important;
    }
    
    /* Search results in Header */
    
    .jump-to-suggestions-results-container .navigation-item {
        border-color: var(--inner-border-color) !important;
    }
    
    .jump-to-suggestions-results-container .navigation-item a {
        color: var(--text-color) !important;
    }
    
    .jump-to-suggestions-results-container .d-on-nav-focus {
        background-color: var(--bg-light-color) !important;
    }
    
    /*  Overview Page  */
    
    .avatar-before-user-status {
        border-color: var(--border-color) !important;
    }
    
    .user-profile-sticky-bar:after {
        background-color: transparent !important;
    }
    
    .profile-timeline-year-list a {
        color: var(--text-color) !important;
    }
    
    .profile-timeline-year-list .filter-item:hover {
        background-color: var(--bg-light-color) !important;
    }
    
    .profile-timeline.discussion-timeline:before {
        background-color: var(--border-color) !important;
    }
    
    .profile-timeline.discussion-timeline .profile-timeline-month-heading:after {
        background-color: var(--border-color) !important;
    }

    .profile-rollup-wrapper+.profile-rollup-wrapper {
        border-color: var(--border-color) !important;
    }
    
    .profile-rollup-summarized+.profile-rollup-summarized {
        border-color: var(--inner-border-color) !important;
    }
    
    .discussion-item-icon {
        border-color: var(--border-color) !important;
        background-color: var(--bg-light-color) !important;
        color: var(--text-color) !important;
    }

    .pinned-item-meta {
        color: var(--muted-text-color) !important;
    }
    
    rect.day[data-count="0"] {
        fill: var(--muted-text-color) !important;
    }
    
    /*  Repositories Page  */
    
    .topic-tag {
        background-color: var(--topic-bg-color) !important;
        color: var(--link-color) !important;
    }

    .topic-tag:hover {
        background-color: var(--topic-bg-hover-color) !important;
    }
    
    .form-control, .form-select {
        background-color: var(--bg-dark-color) !important;
        border-color: var(--border-color) !important;
        color: var(--text-color) !important;
    }
    
    .Label--outline {
        border-color: var(--border-color) !important;
    }

    /* this must after .form-control */
    .header-search-input, .header-search-wrapper {
        background-color: var(--bg-light-color) !important;
    }
    
    /*  Repo Page  */
    
    .pagehead {
        border-color: var(--border-color) !important;
    }
    
    .repohead {
        background-color: var(--bg-dark-color) !important;
        border-color: var(--border-color) !important;
    }
    
    .repohead .btn {
        border-color: var(--border-color) !important;
    }
    
    .repohead .social-count {
        background-color: var(--bg-color) !important;
        border-color: var(--border-color) !important;
    }
    
    .repohead .social-count a {
        color: var(--text-color) !important;
    }
    
    .pagehead-actions a {
        color: var(--text-color) !important;
    }
    
    .reponav-item.selected {
        background-color: var(--bg-color) !important;
        border-left-color: var(--border-color) !important;
        border-right-color: var(--border-color) !important;
    }

    .reponav-item {
        color: var(--text-color) !important;
    }
    
    .overall-summary {
        border-color: var(--border-color) !important;
    }
    
    .overall-summary a {
        color: var(--text-color) !important;
    }
    
    .repository-lang-stats-graph {
        border: none !important;
    }
    
    .ellipsis-expander {
        background-color: var(--border-color) !important;
        color: var(--text-color) !important;
    }
    
    table.files {
        background-color: var(--bg-dark-color) !important;
    }

    table.files td {
        border-color: var(--inner-border-color) !important;
    }
    
    table.files td.age {
        color: var(--muted-text-color) !important;
    }
    
    table.files td.icon .octicon-file-directory {
        color: var(--link-color) !important;
    }
    
    table.files td.icon {
        color: var(--muted-text--color) !important;
    }
    
    table.files tr.navigation-focus td, table.files tr[aria-selected=true] td {
        background-color: var(--bg-color) !important;
    }
    
    /*  Code hightlighting  */
    
    .markdown-body h1, .markdown-body h2 {
        border-color: var(--border-color) !important;
    }
    
    .markdown-body hr {
        background-color: var(--border-color) !important;
    }
    
    .markdown-body img {
        background-color: var(--bg-color) !important;
    }
    
    .markdown-body .highlight pre, .markdown-body pre {
        background-color: var(--bg-code-color) !important;
    }
    
    .markdown-body blockquote {
        border-color: var(--border-color) !important;
    }
    
    .pl-k {
        color: var(--code-magenta) !important;
    }
    
    .pl-s, .pl-pds {
        color: var(--code-green) !important;
    }
    
    .pl-en {
        color: var(--code-yellow) !important;
    }
    
    .pl-c1 {
        color: var(--code-blue) !important;
    }
    
    .blob-code-inner .pl-v {
        color: var(--text-color) !important;
        font-weight: 600 !important;
    }
    
    .markdown-body .pl-v {
        color: var(--code-red) !important;
    }

    .pl-smi, .pl-s1 {
        color: var(--text-color) !important;
    }
    
    .pl-e {
        color: var(--text-color) !important;
    }
    
    .pl-ent {
        color: var(--code-red) !important;
    }

    .pl-smi, .pl-s1 {
        color: var(--text-color) !important;
    }
    
    .blob-num {
        background-color: var(--bg-code-color) !important;
        color: var(--muted-text-color) !important;
    }
    
    .blob-code-inner {
        background-color: var(--bg-code-color) !important;
        color: var(--text-color) !important;
    }
    
    .flash-warn {
        color: var(--code-yellow) !important;
        background-color: rgba(255, 204, 102, .15) !important; /* yellow */
    }
    
    .flash-warn .btn {
        background-color: rgba(255, 204, 102, .25) !important; /* yellow */
        border-color: rgba(255, 204, 102, .5) !important; /* yellow */
    }
    
    .select-menu-divider, .select-menu-header {
        background-color: var(--bg-light-color) !important;
        border-color: var(--border-color) !important;
    }
    
    .select-menu-header .select-menu-title {
        color: var(--text-color) !important;
    }
    
    .select-menu-list {
        background-color: var(--bg-color) !important;
    }
    
    .select-menu-list .select-menu-item {
        background-color: var(--bg-color) !important;
        color: var(--muted-text-color) !important;
        border-color: var(--inner-border-color) !important;
    }
    
    .select-menu-item:hover {
        background-color: var(--hover-color) !important;
        color: var(--text-color) !important;
    }
    
    .select-menu-item:hover .description {
        color: var(--text-color) !important;
    }
    
    /* gists */
    
    .file {
        border-color: var(--border-color) !important;
    }
    
    .file-header {
        background-color: var(--bg-light-color) !important;
        border-color: var(--border-color) !important;
    }
    
    .file-navigation-option .input-group .form-control {
        border-color: var(--border-color) !important;
    }
    
    /* Add new organization */
    
    .signup-plan-card {
        background-color: var(--bg-dark-color) !important;
        border-color: var(--border-color) !important;
    }
}
