@media (prefers-color-scheme: dark) {
    .WaWKOe,
    .qdnLaf,
    .mfkH6e,
    .QnfS4e {
        background-color: rgb(220, 220, 220) !important;
    }
    
    .Beeb4e {
        color: rgb(5, 5, 5) !important;
    }
    
    .a0XzNd .O8VmIc .gadasb {
        color: rgb(20, 20, 20) !important;
    }
    
    .jdp5U .WGvvNb {
        color: rgb(40, 40, 40) !important;
    }
}
